@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Roboto:wght@300;400&family=Source+Serif+4:ital@1&family=The+Nautigal:wght@700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1,h2,h3{
    font-weight: 500;
}

img {
    width: 30px;
    height: 30px;
}

.bar {
    border: none;
    height: 1px;
    background: #E1E5EA;
    width: 120vh;
}

#head-about, #head-activeon, #head-lang, #para-activeon, .resume{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#head-lang, #head-about, #head-activeon {
    font-weight: 600;
    font-size: 20px;
}

.active-on #icons {
    width: 40px;
}

#logo-resume {
    width: 90px;
    height: 40px;
}

#logo {
    width: 100px;
    height: 30px;
}

#logo-c {
    width: 60px;
    height: 30px;
}

#logo-cc {
    width: 70px;
    height: 30px;
}

#logo-java {
    width: 80px;
    height: 30px;
}

#logo-css {
    width: 70px;
    height: 30px;
}

#logo-js {
    width: 120px;
    height: 30px;
}

